[submodule "src/examples"]
	path = src/examples
	url = https://github.com/ros2/examples
	branch = humble
[submodule "src/ros_tutorials"]
	path = src/ros_tutorials
	url = https://github.com/ros/ros_tutorials.git
	branch = humble
[submodule "src/velodyne"]
	path = src/velodyne
	url = https://github.com/ros-drivers/velodyne.git
	branch = ros2
[submodule "src/pylon_ros2_camera"]
	path = src/pylon_ros2_camera
	url = https://github.com/basler/pylon-ros-camera
[submodule "src/isaac_ros_common"]
	path = src/isaac_ros_common
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_common
	branch = main
[submodule "src/isaac_ros_nitros"]
	path = src/isaac_ros_nitros
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_nitros
	branch = main
[submodule "src/isaac_ros_dnn_inference"]
	path = src/isaac_ros_dnn_inference
	url = https://github.com/lkk688/isaac_ros_dnn_inference.git
	branch = main
